<hr>
<h1>
  {{title}}
</h1>
<div>
  <button class="btn btn-danger" (click)="clear()">清空購物車</button>
  <button class="btn btn-warning">復原變更</button>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tr>
        <th>#</th>
        <th>{{titleName}}</th>
        <th>{{titlePrice}}</th>
        <th>{{titleQuantity}}</th>
        <th>{{titleSubtotal}}</th>
        <th>{{titleDelete}}</th>
      </tr>
      <tr *ngFor="let shoppingCart of shoppingCartService.shoppingCarts; let i = index">
        <th>{{i+1}}</th>
        <td>{{shoppingCart.name}}</td>
        <td>{{shoppingCart.price}}</td>
        <td>
         	  <div *ngIf="!shoppingCart.isEdit" (click)="edit(shoppingCart)">{{shoppingCart.quantity}}</div>
            <div *ngIf="shoppingCart.isEdit">
              <input type="number" [(ngModel)]="shoppingCart.quantity2">
              <br>
              <button class="btn-primary" (click)="confirmEdit(shoppingCart)">V</button>
              <button class="btn-danger" (click)="cancelEdit(shoppingCart)">X</button>
            </div>
        </td>
        <td>{{calculatePrice(shoppingCart.price,shoppingCart.quantity)}}</td>
        <td><button class="btn btn-danger" (click)="delete(i)">X</button></td>
      </tr>
    </table>
    <div class="text-right">
      <hr>
      <p>{{titleTax}}：{{calculateTax()}}</p>
      <hr>
      <p>{{titleTotal}}：{{calculateTotal()}}</p>
    </div>
  </div>
</div>

